@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Hogwarts University</h1>
</div>
<!DOCTYPE html>
<html>
<head>
    <style>

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
        .carousel-inner img {
            width: 100%;
            min-height: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://imgix.bustle.com/rehost/2016/9/13/fe3967ef-96b2-4054-a344-d240c6b37d36.jpg?w=970&h=546&fit=crop&crop=faces&auto=format&q=70" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Hogwarts University</h2>
        <p>
            Entity Framework Core in an
            ASP.NET Core MVC web application
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>Pictures</p>
        <p><a class="btn btn-default" href="https://www.bing.com/images/search?view=detailV2&ccid=x02dD89F&id=BDE4845554CDEA0FE2F36630D3E97237FEAD6A58&thid=OIP.x02dD89FjQzb0Ll-wsoFnAHaEA&mediaurl=http%3a%2f%2fwww.diken.com.tr%2fwp-content%2fuploads%2f2016%2f10%2fhogwarts-sb.jpg&exph=400&expw=740&q=harry+potter+daki+okulu&simid=607992580196404772&selectedIndex=10&ajaxhist=0">See the picture &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.bing.com/images/search?view=detailV2&ccid=eRga64Wq&id=074B2FBEC059CDE55C72F4E43EA9FC833FDE3E8D&thid=OIP.eRga64WqCvdLoyjsp2sTnQHaE8&mediaurl=https%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2fthumb%2f3%2f38%2fHogwarts_model_studio_tour.jpg%2f1200px-Hogwarts_model_studio_tour.jpg&exph=800&expw=1200&q=Hogwarts&simid=608043535674181293&selectedIndex=8&ajaxhist=0">Go &raquo;</a></p>
    </div>
</div>
